 .light {
   --background: 227, 231, 238;
   --foreground: 255, 255, 255;

   --card: 255, 255, 255;
   --card-foreground: 51, 47, 45;
   --popover: 255, 255, 255;
   --popover-foreground: 51, 47, 45;

   --primary: 6, 65, 251;
   /*находится на фоне заданном цветом*/
   --primary-foreground: 255, 255, 255;

   --secondary: 35, 31, 32;
   --secondary-foreground: 112, 117, 121;
   --tertiary: 255, 38, 0;
   --tertiary-foreground: #ff2600;


   --muted-primary: 111, 129, 158;
   --muted-secondary: 227, 231, 238;
   --muted-tertiary: #ff2600;

   --accent: #ff2600;
   --accent-foreground: #ff2600;
   --destructive: #ff2600;
   --destructive-foreground: #ff2600;

   --border: #E3E7EE;
   --input: #fd0000;
   --ring: #332f2d;

   --chart-1: #f25959;
   --chart-2: #42a386;
   --chart-3: #619fc9;
   --chart-4: #6bcc83;
   --chart-5: #6bdc6d;

   /* Радиус */
   /* 1rem = 16px */
   --radius: 0.75rem;
 }

 .dark {
   --background: #332f2d;
   --foreground: #f5faff;
   --card: #332f2d;
   --card-foreground: #f5faff;
   --popover: #332f2d;
   --popover-foreground: #f5faff;
   --primary: #636a70;
   --primary-foreground: #2f2929;
   --secondary: #201a19;
   --secondary-foreground: #f5faff;
   --muted: #201a19;
   --muted-foreground: #9b8e89;
   --accent: #201a19;
   --accent-foreground: #f5faff;
   --destructive: #9e2b1e;
   --destructive-foreground: #f5faff;
   --border: #201a19;
   --input: #201a19;
   --ring: #746a77;
   --chart-1: #4a90e2;
   --chart-2: #2e9967;
   --chart-3: #f9aa33;
   --chart-4: #9055b2;
   --chart-5: #e94a77;
   --radius: 0.75rem;
 }