@import './styles/themes.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    padding-top: calc(var(--tg-viewport-content-safe-area-inset-top) + var(--tg-viewport-safe-area-inset-top));
    @apply bg-transparent;
  }

  ::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
  }

  * {
    @apply border-border;
  }

  body,
  html {
    @apply bg-background text-foreground w-full min-h-screen h-tma no-underline;
  }


}


@layer components {
  .safe-area-content {
    margin-top: calc(var(--tg-viewport-content-safe-area-inset-top));
    @apply bg-purple-400 pl-[105px] pr-[105px];
  }

  .safe-area {
    height: calc(var(--tg-viewport-content-safe-area-inset-top) + var(--tg-viewport-safe-area-inset-top) + 2%);
    @apply bg-transparent backdrop-blur-[15px] fixed top-0 w-full z-[1];
  }
}